@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');

@font-face {
    font-family: 'Android';
    src: url('doridrobot.ttf') format('opentype');
    font-weight: normal;
}
* {
    margin: 0px;
    padding: 0px;

}
:root {
    --swhite: #ffffff;
    --color1: #c5ebd5;
    --color2: #83e1ad;
    --color3: #3ddc84;
    --color4: #2fa886; 
    --color5: #1a5c37;
    --color6: #063d1e;

    --fontepadrao: arial, verdana, helvetica, sans-serif;
    --fontdestaque: 'Titillium Web', 'sans-serif';
    --fontedroid: 'Android', 'cursive';
    --fontedestaque2: 'Pacifico', 'cursive'

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E7E5C1;  
    
}

a.externo::after {
    content: '\00A0\1F517';
}
header {
    background-image: linear-gradient(#3DDC84, #063D1E);
    min-height: 120px;
    padding-top: 35px;
 
}
header > h1{
    font-family: arial;
    text-align: center;
    font-weight: bold;
    font-size: 2.1em;
    color: var(--swhite);
    text-shadow: 2px 2px 2px black;
    
}
header p{
    font-weight: normal;
    text-align: center;
    color: var(--swhite);
    text-shadow: 2px 2px 2px black;
    padding: 20px;
    font-size: 1.1em;
}

nav {
    height: 30px;
    background-color: #063D1E;
    text-align: center;
    margin: auto;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.308);
}
nav > a{
    padding: 10px;
    text-decoration: none;
    color: var(--swhite);   
    font-weight: bold;
    border-radius: 4px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
}

nav > a:hover {
    background-color: var(--color3);
    color: var(--color1);
    transition-duration: 0.3s;
}
main {
    background-color: var(--swhite);
    min-width: 300px;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.24);    
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    }
main img{
    width: 100%;
}
main .pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}

main a {
    background-color: var(--color3);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--color2)
}
article {
    padding: 20px;
}
article > h1 {
    font-weight: bold;
    font-family: 'arial', 'cursive';
    font-size: 1.8em;
    color: #00672e;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.229);
    margin-left: 2px;
}
article > p {
    text-indent: 1.5em;
    margin: 15px 0px;
    font-size: 1.1em;
    line-height: 2em;

}
article > h2 {
    font-weight: bold;
    font-family: var(--fontedroid);
    background-image: linear-gradient(to right, rgb(71, 251, 71), white);
    color: #00672e;
    text-indent: 8px;
}
.ilustraçao {
    padding: 0px;
}

aside {
    background-color: var(--color3);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.411);
    
}

aside p { 
    text-indent: 20px;;
    line-height: 2em;
    margin-top: 10px;
}
aside  ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0'; /*espaço sem quebra*/
    columns: 2;
    margin: 9px 0px;;

}
aside h3 {
    color: white;
    background-color:var(--color5);
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 2em;
    text-indent: 10px;
}
footer {
    background-color: var(--color6);
    padding: 2px;
}
footer > p {
    color: white;
    text-align: center;
    padding: 5px;
}
footer a {
    color:white;
    font-weight: bolder;
    text-decoration: none;

}